{% extends 'index.html' %}
{% load static%}
{% block title %}Features{% endblock title %}


{% block content %}
<h2>This is our Features Page.</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit animi doloribus id iste labore, recusandae sunt nulla corporis molestiae at libero dolor voluptas magnam minus neque magni, consequuntur dicta corrupti nostrum aspernatur. Praesentium unde voluptatibus molestiae ipsum tempora omnis nisi, sit hic adipisci eaque tenetur placeat quae voluptates expedita velit. Aliquid consequuntur nihil, laudantium incidunt ab doloribus qui tenetur ad nemo velit voluptates mollitia asperiores ratione temporibus deleniti fuga? Repellat accusantium, quibusdam neque, repellendus nam fugit nulla dicta itaque magni blanditiis harum, explicabo obcaecati eaque doloribus fugiat numquam nobis consequatur?</p>
 
{% endblock content %}